.Mainpage {
    border: solid #000 1px;
    width: 50%;
    height: 900px;
}

.logopart {
    border: solid #000 1px;
    width: 70%;
    height: 95%;
    margin: 3% 0 0 auto;
}

.information{
    border: solid #000 1px;
    width: 70%;
    height: 95%;
    /* margin: 0% 0 0 auto; */
}