.headerlogo {
    
    width: 100%;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.18) 1.95px 1.95px 2.6px;
}

img {
    width: auto;
    height: 87px;
    margin: 10px 6px 0px 23px;
}

.Mainpage {
    border: solid #000 1px;
    width: 54%;
    height: 900px;
} 
p{
   font-size: 160%;
   font-weight: 600;
}

.logopart {
    border: solid #000 1px;
    width: 70%;
    height: 95%;
    margin: 3% 0 0 auto;
}

.information{
    border: solid #000 1px;
    width: 70%;
    height: 95%;
    
} /* */